<button *ngIf="!isAuthenticated || !checkSessionChanged" (click)="login()">Login</button>
<button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
<button *ngIf="checkSessionChanged" (click)="login()">Refresh Session</button>
<hr />

Is ModuleSetup :
<pre>{{ isModuleSetUp$ | async | json }}</pre>

<br />

CheckSessionChanged:
<pre>{{ checkSessionChanged$ | async | json }}</pre>

<br />

Is Authenticated: {{ isAuthenticated }}

<br />

<pre>{{ userDataChanged$ | async | json }}</pre>

<br />

Configuration loaded:
<pre>{{ configuration | json }}</pre>
