<div *ngIf="isAuthenticated$ | async as isAuthenticated; else noAuth">
  <button (click)="logout()">Logout</button>
  <button (click)="forceRefreshSession()">RefreshSession</button>
  <hr />

  <button (click)="openWindow()">Open normal popup</button>
  <a href="/" target="_blank">Test link</a>
  <br />

  Is Authenticated: {{ isAuthenticated }}

  <br />
  userData
  <pre>{{ userData$ | async | json }}</pre>

  <br />
</div>

<ng-template #noAuth>
  <button (click)="loginWithPopup()">Login using popup</button>
  <button (click)="openWindow()">open normal popup (tab)</button>
  <a href="/" target="_blank">Test link</a>
  <hr />
  You are NOT authenticated
</ng-template>

Configuration loaded:
<pre>{{ configuration | json }}</pre>
