<div>Welcome to home Route</div>

<div *ngIf="isAuthenticated$ | async as isAuthenticated">
  <!-- <button (click)="logout()">Logout</button>
  <button (click)="forceRefreshSession()">RefreshSession</button> -->
  <hr />

  <br />

  <br />
  userData
  <pre>{{ userData$ | async | json }}</pre>

  <br />
</div>

Is Authenticated: {{ isAuthenticated$ | async | json }}

<div *ngFor="let config of configurations">
  <h3>{{ config.configId }}</h3>
  <button (click)="login(config.configId)">Login with {{ config.configId }}</button>
  <pre>{{ config | json }}</pre>
</div>
