<button *ngIf="false" (click)="login()">Refresh Session</button>

<div *ngIf="isAuthenticated$ | async as isAuthenticated; else noAuth">
    <button (click)="logout()">Logout</button>
    <hr />
    Is ModuleSetup :
    <pre>{{ isModuleSetUp$ | async | json }}</pre>

    <br />

    Is Authenticated: {{ isAuthenticated }}

    <br />
    userData
    <pre>{{ userData$ | async | json }}</pre>

    <br />
</div>

<ng-template #noAuth>
    <button (click)="login()">Login</button>
    <hr />
</ng-template>

Configuration loaded:
<pre>{{ configuration | json }}</pre>
